.header-container{
  padding: 20px 35px;
}

.nav-menu{
  display: none;
}

#logo-img{
  height: 50px;
}

.menu-icon{
  display: block;
  cursor: pointer;
}

.menu-icon > i{
  font-size: 22px;
  color: white;
}

/* car section */

.main-content{
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
}

.part1{
  width: 100%;
  margin-top:30px; 
}

.part1 > h1{
  font-size: 40px;
}

.part1 > button{
  font-size: 12px;
}

.part2 > img{
  margin-top: 45px;
  height: 250px;
}

.part2 > img:hover{
  transition: 0.5s;
  height: 240px;
}

/* programme section */

.program-container{
  
}

.p-main{
  margin-top: 80px;
  padding: 20px 15px;
}

.p-heading > h1{
  font-size: 25px;
  margin-top: 0;
}