.header-container{
  padding: 20px 15px;
}

.nav-menu{
  display: none;
}

#logo-img{
  height: 50px;
}

.menu-icon{
  display: block;
  cursor: pointer;
}

.menu-icon > i{
  font-size: 22px;
  color: white;
}

/* car section */

.main-content{
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
}

.part1{
  width: 100%;
  margin-top:30px; 
  margin-bottom: 10px;
}

.part1 > h1{
  font-size: 40px;
}

.part1 > button{
  font-size: 12px;

}

.part2 > img{
  margin-top: 65px;
  height: 220px;
  margin: 30px auto;
  margin-bottom: 10px;
}

.part2 > img:hover{
  transition: 0.5s;
  height: 210px;
}

/* programme section */

.program-container{
  padding: 20px;
}

.p-main{
  margin-top: 80px;
  padding: 20px 15px;
}

.p-heading > h1{
  font-size: 25px;
  margin-top: 0;
}

/* Course Content */

.parent-course-content{
  display: flex;
  flex-direction: column;
}

.program-container{
  margin-top: 70px;
  height: auto;
}

.img-container{
  display: flex;
  flex-direction: row;
}

.card-hover{
  margin: 20px auto;
  
}

.course-content{
  margin: 0 auto;
  margin-bottom: 10px;
  width: 280px;
}

/* image course section */

.img-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* goal section */

.goal-head > h2{
  font-size: 30px;
  font-family: sans-serif;
}
.goal-head > p{
  font-size: 15px;
  font-family: sans-serif;
}

.table-content{
  height: 200px;
  width: 330px;
  margin: 15px auto;
}

.table-content img{
  margin-top: 2px;
}

/* footer section */

.footer-container{
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
}



.footer-icons > i{
  font-size: 15px;
}

.footer-icons{
  margin-bottom: 20px;
}

.colum-part2{
  margin-top: 20px;
}

.last-column{
  margin-top: 20px;
}

.copy{
  margin: 0 auto;
}