* {margin: 0; padding: 0;}

.header-container{
  display: flex;
  padding: 25px 95px;
  justify-content: space-between;
  background-color: #362B6F;
}

.logo a{
  text-decoration: none;
  font-size: 35px;
  font-family: 'Lucida Sans', sans-serif;
  font-weight: bold;
  color: white;
}

.nav-menu a{
  text-decoration: none;
  font-size: 18px;
  margin-left: 32px;
  font-family: 'Lucida Sans', sans-serif;
  font-weight: bold;
  color: white;
}

.nav-menu button{
  font-size: 15px;
  margin-left: 32px;
  font-family: 'Lucida Sans', sans-serif;
  font-weight: bold;
  border: none;
  padding: 12px 21px;
  background-color: white;
  border-radius: 20px;
  color: #362B6F;
}

/* styling part-2 */

.main-container{
  background-color: #362B6F;
  height: 530px;
}

.main-content{
  display: flex;
  padding: 65px 95px;
  justify-content: space-between;
}

.part1{
  margin-top: 50px;
  width: 530px;
}

.part1 h1{
  font-family:verdana;
  font-weight:bolder;
  font-size: 38px;
  margin-bottom: 28px;
  color: white;
}

.part1 p{
  font-family: 'Lucida Sans', sans-serif;
  line-height: 22px;
  margin-bottom: 25px;
  color: white;
}



.btn1{
  border: none;
  padding: 12px 21px;
  border-radius: 20px;
  margin-right: 7px;
  background-color: white;
  color: #362B6F;
  font-weight: bold;
  transition: 0.3s;
  box-sizing: border-box;
}

.btn1:hover{
  background: transparent;
  color: white;
  border: 2px solid white;
}

.btn2{
  border: none;
  padding: 12px 21px;
  border-radius: 20px;
  background: transparent;
  color: white;
  font-weight: bold;
  border: 2px solid white;
  transition: 0.3s;
  box-sizing: border-box;
}

.btn2:hover{
  background-color: white;
  color: #362B6F;
}

.part2 img{
  height: 368px;
  width: 490px;
  border: 1px solid white;
  border-radius: 7px;
  cursor: pointer;
}

.part2 img:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.6s;
}

/* program section */

section{
  background-color: #F9F9FA;
}

.p-main{
  padding: 45px 40px;
  box-sizing: border-box;
}

.program-container{
  background-color: white;
  padding: 30px 65px;
  border-radius: 10px;
  height: 600px;
  box-sizing: border-box;
  border: 1px solid #EAECF0;
}

.p-heading h1{
  font-family:verdana;
  font-weight:bolder;
  font-size: 38px;
  text-align: center;
  margin-bottom: 28px;
  margin-top: 10px;
}

.p-heading h1 i{
  color: #362B6F;
}

.course-content{
  display: flex;
  background-color: #EAECF0;
  width: auto;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid grey;
  transition: 0.4s;
  font-size: 11px;
}

.course-content:hover{
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.c-icon i{
  background-color: white;
  color: black;
  padding: 10px 9px;
  border-radius: 50%;
  margin-right: 7px;
  border: 1px solid grey;
  font-size: 14px;
}

.c-icon i:hover{
  color: #362B6F;
}

.c-writen a{
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  transition: 0.4s;
  font-size: 12px;
}

.c-writen a:hover{
  text-decoration: underline;
}

.c-li{
  display: flex;
}

.c-li li{
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 9px;
  margin-top: 5px;
  margin-right: 7px;
}

.c-li i{
  margin-left: 2px;
  margin-top: 9px;
  margin-right: 4px;
  font-size: 3px;
}

.parent-course-content{
  display: flex;
  justify-content: space-between;
}

/* image box design */

.card-hover{
  height: 359px;
  width: 260px;
  border-radius: 8px;
  margin-top: 25px;
  z-index: 1;
  border: 1px solid white;

}

.card-hover:hover{
  border: 1px solid #667085;
  border-radius: 8px;
}

.img-box1{
 font-size: 0;
}

.img-box1 img{
  height: 150px;
  width: 260px;
  border-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.img-option{
  padding: 9px;
  width: 260px;
  border-left: 1px solid #EAECF0;
  border-right: 1px solid #EAECF0;
  border-bottom: 1px solid #EAECF0;
  box-sizing: border-box;
  background-color: #F9F9FA;
}

.img-option a{
  text-decoration: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 4px 8px;
  background-color: #EAECF0;
  color: black;
  font-size: 11px;
  border-radius: 4px;
}

.img-option a i{
  margin-right: 1px;
}

.img-title{
  width: 260px;
  height: 112px;
  box-sizing: border-box;
  border-left: 1px solid #EAECF0;
  border-right: 1px solid #EAECF0;
  border-bottom: 1px solid #EAECF0;
  padding: 7px 10px;
}

.img-title h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 25px;
  font-size: 18px;
}

.img-btn{
  width: 260px;
  height: 60px;
  box-sizing: border-box;
  border-left: 1px solid #EAECF0;
  border-right: 1px solid #EAECF0;
  border-bottom: 1px solid #EAECF0;
  background-color: #F9F9FA;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}

.img-btn button{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 9px 62px;
  margin-left: 13px;
  margin-top: 11px;
  background-color: #EAECF0;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.img-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*-----------------------
set your carrear  section 
-----------------------*/

.goal-head h2{
  font-family:verdana;
  font-weight:bolder;
  font-size: 38px;
  text-align: center;
  margin-bottom: 5px;
  padding-top: 30px;
}

.goal-head p{
  font-family: verdana;
  text-align: center;
}


/* table design */

.Table-conainer{
  padding: 50px 95px;
  background-color: #F9F9FA;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.t-li{
  display: flex;
}

.table-content{
  display: block;
  padding: 25px 20px;
  background-color: white;
  height: 180px;
  width: 330px;
  text-align: center;
  border: 1px solid #EAECF0;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.table-content:hover{
  border: 1px solid #667085;
}

.table-content img{
  font-size: 0;
  height: 60px;
  width: 60px;
  margin-bottom: 6px;
  margin-top: 20px;
}

.table-content h4{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 25px;
  font-size: 18px;
  margin-bottom: 3px;
}

.table-content p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}